@font-face {
  font-family: "Honeyblot Caps";
  src: url("../assets/fonts/honeyblot_caps.ttf");
}

body {
  background-color: rgb(69, 69, 69);

  overflow: hidden;
  margin: 0;

  color: white;
  font-size: xx-large;
  font-family: "Honeyblot Caps", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.tile:hover {
  /* transform-origin: center;
  transform: scale(1.1);
  z-index: 10000;
  filter: contrast(0.75); */
}

.topbar > * {
  margin-left: 64px;
}

.topbar p {
  margin-bottom: 0;
}

@keyframes fadeOutUp {
  from {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
}

.fadeOutUp {
  animation-duration: 1000ms;
  animation-name: fadeOutUp;
  animation-fill-mode: both;
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  20%,
  60% {
    transform: translate3d(-10px, 0, 0);
  }

  40%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-duration: 250ms;
  animation-name: shake;
  animation-fill-mode: both;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-duration: 250ms;
  animation-fill-mode: both;
  transform-origin: bottom center;
}

.deck {
  position: relative;
}

.topbar p.textNumber {
  font-size: xxx-large;
  text-align: center;
}

.deck p.deckNumber {
  color: rgb(69, 69, 69);
  text-align: left;
}

.topbar p.cardInfo {
  position: absolute;
}
